<h3>Hello, {{name}}</h3>

<div>
    <button [routerLink]='["/create"]' type="button" class="btn btn-light">Create</button>
    <!-- <a [routerLink]='["/create"]' class="nav-link">Create</a> -->
</div>

<!-- <div>
    <div class="form-group">
        <div class="label-group">
            <label>Author Id</label>
        </div>
        <input type="text" [(ngModel)]="id"  class="form-control" />
        <input type="button" value="search" (click)="search()" class="btn btn-success" />
    </div>
</div> -->

<!-- <bidding-search [(id)]="id"></bidding-search> -->
<div class="table-block">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>CreatingDate</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bidding">
                <td>{{item?.Id}}</td>
                <td>{{item?.Message}}</td>
                <td>{{item?.CreatingDate | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>