<h3>Hello, {{name}}</h3>

<div>
    <button [routerLink]='["/create"]' type="button" class="btn btn-light">Create</button>
    <button  [disabled]="!isEnable" (click)="save()" type="button" class="btn btn-light">Save</button>
</div>
<jqxGrid
    [width]="getWidth()" [source]="dataAdapter" [columns]="columns"
    [pageable]="true" [autoheight]="true" [sortable]="true" 
    [altrows]="true"  [enabletooltips]="true"  [editable]="true" 
    [selectionmode]="'multiplecellsadvanced'" [columngroups]="columngroups">
</jqxGrid>
<!-- <div>
    <div class="form-group">
        <div class="label-group">
            <label>Author Id</label>
        </div>
        <input type="text" [(ngModel)]="id"  class="form-control" />
        <input type="button" value="search" (click)="search()" class="btn btn-success" />
    </div>
</div> -->

<!-- <bidding-search [(id)]="id"></bidding-search> -->
<!-- <div class="table-block">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>CreatingDate</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bidding">
                <td>{{item?.Id}}</td>
                <td>{{item?.Message}}</td>
                <td>{{item?.CreatingDate | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div> -->